.navbar__button {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  background: none;
  border: none;
  border-radius: var(--radius-md);
}

.navbar__button:active {
  transform: scale(95%);
}

.navbar__button--selected {
  background-color: var(--color-background);
  color: var(--color-navy);
}

.navbar__icon {
  width: 24px;
  height: 24px;
}

.navbar__label {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .navbar__button--resume {
    display: none;
  }
}
