.app {
  padding: 1rem 1rem 6.25rem;
}

.app__navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 0.5rem;
  display: flex;
  background-color: #fff;
  box-shadow: var(--color-shadow);
}

.app__panel {
  display: none;
}

.app--editor .app__panel--editor {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app--design .app__panel--design {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app--resume .app__panel--resume {
  display: block;
}

@media (min-width: 768px) {
  .app {
    padding-bottom: 1rem;
    display: grid;
    grid-template-areas:
    "navbar resume"
    "main   resume";
    grid-template-columns: 300px auto;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

  .app__navbar {
    grid-area: navbar;
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    border-radius: var(--radius-md);
  }

  .app__panel--editor,
  .app__panel--design {
    grid-area: main;
  }

  .app__panel--resume {
    grid-area: resume;
    min-width: 0;
    display: block;
  }
}

@media (min-width: 1024px) {
  .app {
    grid-template-areas: "navbar main resume";
    grid-template-columns: 120px 350px auto;
    grid-template-rows: auto;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
  }

  .app__navbar {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media print {
  .app {
    padding: 0;
  }

  .app__navbar {
    display: none;
  }

  .app--editor .app__panel--editor {
    display: none;
  }

  .app__panel--resume {
    display: block;
  }
}
